.settings {
    background-color: #1e1e1e;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;

    .settings_element {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        .setting {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 15%;
            height: 5%;
        }
    }

    h2 {
        color: #fff;
        font: {
            size: 18px;
            family: Verdana, monospace, sans-serif;
        }
    }

    .button {
        background-color: #fff;
        color: #000;
        border-radius: 15px;
        padding: 15px;
        cursor: pointer;

        font: {
            size: 18px;
            family: Verdana, monospace, sans-serif;
        }

        text-align: center;
        user-select: none;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .dark {
        background-color: #000;
        color: #fff;
    }
    .light {
        background-color: #fff;
        color: #000;
    }
}

@media screen and (max-width:520px) {
    .settings {
        .settings_element {
            .setting {
                width: 45%;
                height: 20%;
                font-size: 14px;
                padding: 5px;
            }
        }
    }
}